[submodule "admin"]
	path = data/admin
	url = https://github.com/whosonfirst-data/whosonfirst-data-admin-au.git
[submodule "postalcode"]
	path = data/poscodes
	url = https://github.com/whosonfirst-data/whosonfirst-data-postalcode-au.git
