[submodule "data/admin"]
	path = data/admin
	url = https://github.com/whosonfirst-data/whosonfirst-data-admin-au.git
[submodule "data/postcodes"]
	path = data/postcodes
	url = https://github.com/whosonfirst-data/whosonfirst-data-postalcode-au.git
